<!DOCTYPE html>
<html>
<head>
    <title>Server Info</title>
</head>
<body>
    <h1>Server Information</h1>
    <p><strong>Hostname:</strong> <%= hostname %></p>
    <p><strong>Version:</strong> <%= appVersion %></p>
</body>
</html>
